/* @import url('../public/fonts/Ubuntu-Bold.ttf'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  html {
    font-family: 'UbuntuBold', 'UbuntuMed';
  }
}



@font-face {
  font-family: 'UbuntuBold';
  src: url("../public/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: 'UbuntuMed';
  src: url("../public/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: 'UbuntuReg';
  src: url("../public/fonts/Ubuntu-Regular.ttf");
} */